.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formContainer {
    display: flex;
    background-color: rgba(12, 13, 13, 0.896);
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 20px;
    border-color: rgb(248, 11, 7);
    box-shadow: 1rem 1rem 2rem rgba(193, 17, 17, 0.8);
    padding: 1em;
  }
  
  .formContainer h3 {
    color: #ffffff; /* Cambia el color a rojo */
    -webkit-text-stroke: 0.5px rgb(213, 27, 27);
  }
  
  .formContainer label {
    color: rgb(255, 24, 24);
  }
  
  .formContainer input {
    color: #0000ff;
  }
  
  .formContainer span {
    color: #ff0000;
  }
  
  .formContainer input {
    /* Estilos para los elementos input */
    color: rgb(255, 255, 255); /* Cambia el color del texto */
    background-color: rgba(12, 13, 13, 0.896); /* Cambia el color de fondo */
  }
  
  .dietsBoxes {
    display: grid;
    justify-items: start;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 5px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
    background-color: rgba(25, 28, 28, 0.074);
    border-radius: 3px;
    margin: 6px;
  }
  
  label {
    color: white;
    margin-right: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    padding: 0.5em 1em;
    background-color: rgb(19, 133, 91);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  span {
    color: red;
    font-size: 12px;
  }