/* Lo pongo en la mitad de la pantalla */
.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .filterContainer {
    position: absolute;
    left: 40px; /* Ajusta el valor según la posición deseada */
    top: 40px; /* Ajusta el valor según la posición deseada */
  }
  
  .CardsContainer {
    display: flex;
    background-color: rgba(12, 13, 13, 0.896);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    /* height: min-content; */
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(248, 11, 7);
    box-shadow: 1rem 1rem 1rem rgba(193, 17, 17, 0.8);
    /* margin-bottom: 5px; */
  }
  
  .CardGroup {
    display: flex;
    flex-direction: row;
    justify-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  
  .CardGroup > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  /* le pongo un margen abajo */
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 1em;
  }
  
  /* pongo la medio el searchbar */
  .searchBar {
    margin-right: 5em;
  }
  
  /* espacio entre tarjetas */
  .Space {
    margin-top: 20px;
  }