.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchInput {
    width: 200px;
    height: 18px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 20px; /* Ajusta el valor según el redondeo deseado */
    margin-right: 10px;
  }
  
  .searchInput:hover {
    background-color: rgba(249, 249, 249, 0.769);
    color: white; /* Ajusta el color del borde al pasar el cursor sobre el input */
  }
  
  .searchButton {
    padding: 9px 16px;
    font-size: 16px;
    background-color: #910e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .searchButton:hover {
    background-color: #f01515;
  }